body {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    background-image: url('https://static.vecteezy.com/system/resources/previews/028/295/809/large_2x/background-with-shiny-factory-pipes-industrial-pipeline-oil-and-gas-factory-generative-ai-photo.jpeg');
    background-size : 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 100px;
    
}

nav {
    background-color: rgb(5, 5, 211);
    height: 70px;
    display: flex;
    flex: 1 5 100px;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    
}

nav a {
    color: #fff;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
    text-decoration: none;
}

nav a:hover {
    color: rgb(7, 216, 7);
}

.column-left {
    width: 30vw;
    padding: 0.5rem;
    border-radius: 20px 40px 5px;
    display: inline-block;
    gap: 10vh;
    background-color: beige;
    justify-content: center;
    
}

.column-right {
    width: 30vw;
    padding:0.5rem;
    border-radius: 20px 40px 5px;
    display: inline-block;
    gap: 10vh;
    background-color: beige;
    
}

ul {
    list-style: none;
}

span, article{
    border: 10px solid grey;
    padding: 2%;
    margin: 2%;
    background-color: grey;
}

.position {
    display: inline-block;
}

.heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    text-align: center;
    text-decoration: underline; 
    font-weight: 400;
    margin: auto;
}

.position img {
    border: 10px solid black;
    height: 200px;
    width: 200px;
    background-color: grey;
}

#background1 {
    background-image: url('https://img.freepik.com/premium-photo/blue-technology-background-abstract-digital-tech-circlecopy-space-isolated-with-white_660230-166389.jpg')
}